body {
    overflow: hidden;
    position: relative;
    user-select: none;
}

h1 {
    font-family: "Roboto Black";
    display: block;
    font-size: 170px !important;
    font-weight: bold;
    color: #212121;
    position: relative;
    /*animation: showTop 1s;*/

    text-align: center;
    margin: 0 auto !important;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

footer span {
    font-family: "Source Sans Pro";
    color: #212121;
    font-size: 20px;
    margin-bottom: 20px;
}
