.main {
    width: 100%;
    height: 100vh;
    animation: showTop 1s;
    margin: auto;
}

.span-first {
    /*animation: showTop 1s;*/
    font-size: 40px;
    text-align: center;
    margin: 0 auto !important;
    display: block;
    width: 100%;
    position: relative;
}

.span-second {
    font-size: 30px;
    text-align: center;
    margin: 0 auto !important;
    display: block;
    width: 100%;
}

@keyframes showTop {
    /*from { top: -100% }*/
    /*to { top: 0 }*/

    0% {transform: translateY(-1000px)}
    100% {transform: translateY(0)}
}